<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script type="text/javascript" src="/scripts/js/base.js"></script>
    <script type="text/javascript" src="/scripts/issue.js"></script>
    <script type="text/javascript" src="{{urls.Frontend.urls.get}}?type=script"></script>
</head>

<body>
    <input type="hidden" id="issueId" value="{{issue.id}}" />
    <h1><a target="_blank" href="{{issue.url}}">{{issue.name}}</a></h1>
    <ul>
        <li>State: {{issue.state}}</li>
        <li>Number: {{issue.number}}</li>
        <li>{{issue.url}}</li>
    </ul>

    <p>
        New estimate: <input type="text" id="estimate" /> <button id="newEstimate">Add</button>
    </p>
    <h2>Estimates (current: {{currentEstimate}} hs)</h2>
    <ul>
        {{#each timeTracking.estimates}}
        <li><strong>{{amount}}</strong> hs by <em>{{user}}</em> on {{date}} <button amount="{{amount}}" class="remove estimate">Remove</button></li>
        {{/each}}
    </ul>

    <p>
        Add effort: <input type="text" id="effort" /> <button id="newEffort">Add</button>
    </p>
    <h2>Dedicated Effort (total: {{totalEffort}} hs)</h2>
    <ul>
        {{#each timeTracking.dedicatedEffort}}
        <li><strong>{{amount}}</strong> hs by <em>{{user}}</em> on {{date}} <button amount="{{amount}}" class="remove effort">Remove</button></li>
        {{/each}}
    </ul>
</body>

</html>